.page-container {
    max-width: var(--page-content-width);
    margin-inline: auto;
    width: 90%;
}

/* group a form input and label together */
.form-control {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
    margin-block: var(--spacing-2);
    width: 100%;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

/* group form actions together */
.actions-container {
    display: flex;
    gap: var(--spacing-2);
    margin-block: var(--spacing-6);
}

/* BUTTON COMPONENT STYLES
- outline
- primary
- primary outline
- destructive
- a button without a class is the 'default' button based on foreground color
*/

.btn-outline {
    background-color: transparent;
    border: 1px solid var(--color-foreground);
    color: var(--color-foreground);

    &:hover:not(:disabled) {
        background-color: var(--color-outline-hover);
    }

    &:focus-visible {
        outline: 2px solid var(--color-foreground);
        outline-offset: 2px;
    }
}

.btn-primary {
    background-color: var(--color-accent);
    color: var(--color-foreground-inverted);

    &:hover:not(:disabled) {
        background-color: var(--color-accent-hover);
    }

    &:focus-visible {
        outline: 2px solid var(--color-accent);
        outline-offset: 2px;
    }
}

.btn-primary-outline {
    background-color: transparent;
    border: 1px solid var(--color-accent);
    color: var(--color-accent);

    &:hover:not(:disabled) {
        background-color: var(--color-accent-outline);
    }

    &:focus-visible {
        outline: 2px solid var(--color-accent);
        outline-offset: 2px;
    }
}

.btn-destructive {
    background-color: var(--color-destructive);
    color: var(--color-foreground-inverted);

    &:hover:not(:disabled) {
        background-color: var(--color-destructive-hover);
    }

    &:focus-visible {
        outline: 2px solid var(--color-destructive);
        outline-offset: 2px;
    }
}