/** BADGE **/

.badge {
    padding: var(--spacing-1) var(--spacing-3);
    background-color: var(--color-badge);
    width: fit-content;
    border-radius: 100vw;

    &.badge-outline {
        background-color: transparent;
        border: 1px solid var(--color-border);
        color: var(--color-foreground);
    }

    &.badge-primary {
        background-color: var(--color-accent);
        color: var(--color-foreground-inverted);
    }
}

/* BUTTON COMPONENT STYLES
- outline
- primary
- primary outline
- destructive
- a button without a class is the 'default' button based on foreground color
*/

.btn-outline {
    background-color: transparent;
    border: 1px solid var(--color-foreground);
    color: var(--color-foreground);

    &:hover:not(:disabled) {
        background-color: var(--color-outline-hover);
    }

    &:focus-visible {
        outline: 2px solid var(--color-foreground);
        outline-offset: 2px;
    }
}

.btn-primary {
    background-color: var(--color-accent);
    color: var(--color-foreground-inverted);

    &:hover:not(:disabled) {
        background-color: var(--color-accent-hover);
    }

    &:focus-visible {
        outline: 2px solid var(--color-accent);
        outline-offset: 2px;
    }
}

.btn-primary-outline {
    background-color: transparent;
    border: 1px solid var(--color-accent);
    color: var(--color-accent);

    &:hover:not(:disabled) {
        background-color: var(--color-accent-outline);
    }

    &:focus-visible {
        outline: 2px solid var(--color-accent);
        outline-offset: 2px;
    }
}

.btn-destructive {
    background-color: var(--color-destructive);
    color: var(--color-foreground-inverted);

    &:hover:not(:disabled) {
        background-color: var(--color-destructive-hover);
    }

    &:focus-visible {
        outline: 2px solid var(--color-destructive);
        outline-offset: 2px;
    }
}

.btn-icon {
    padding: 0;
    border-radius: 100%;
    background-color: transparent;
    border: none;
    color: var(--color-foreground);
    cursor: pointer;

    &:focus-visible {
        outline: 2px solid var(--color-accent);
        outline-offset: 2px;
    }
}

/** CARD **/

.card {
    width: fit-content;
    color: var(--color-foreground);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
    background-color: var(--color-background);
    border-radius: var(--spacing-2);
    border: 1px solid var(--color-border);
    padding: var(--spacing-4);
}

.card {
    width: fit-content;
    color: var(--color-foreground);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
    background-color: var(--color-background);
    border-radius: var(--spacing-2);
    border: 1px solid var(--color-border);
    padding: var(--spacing-4);
}


/* Custom select opt-in, only for browsers that support it */
.custom-select {
    appearance: base-select;
    /* needed for custom behaviors to work */
    background-color: var(--color-background);
    border: 1px solid var(--color-border);
    border-radius: var(--spacing-2);
    display: flex;
    align-items: center;

    /* The button inside the select */
    button {
        background-color: var(--color-background);
        color: var(--color-foreground);
        display: flex;
        align-items: center;
        gap: var(--spacing-2);
    }

    /* Selected option display element */
    selectedcontent {
        display: flex;
        gap: var(--spacing-2);
    }

    /* Picker icon (dropdown arrow) inside the button */
    &::picker-icon {
        color: var(--color-accent);
        transition: transform 0.2s ease-in-out;
    }

    &:open {
        &::picker-icon {
            transform: rotate(180deg);
            transition: transform 0.2s ease-in-out;
        }
    }

    /* The dropdown picker */
    &::picker(select) {
        appearance: base-select;
        margin-block: var(--spacing-2);
        border-radius: var(--spacing-2);
        padding: var(--spacing-2);
        background-color: var(--color-background);
        color: var(--color-foreground);
        border: 1px solid var(--color-border);
    }

    /* Options inside the picker */
    option {
        padding: var(--spacing-2);
        border-radius: var(--spacing-2);
        margin-block: var(--spacing-2);

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }


        &:checked {
            background-color: var(--color-accent);
            color: var(--color-foreground-inverted);
            font-weight: 500;

            &::checkmark {
                color: var(--color-foreground-inverted);
                content: "\2714\FE0E";
                /* thicker checkmark */
            }
        }
    }
}

/** NOTIFICATION **/

.notification-success {
    padding: var(--spacing-4);
    border-radius: var(--spacing-2);
    border: 1px solid var(--color-success);
    background-color: var(--color-success-background);
    font-weight: 700;
    color: var(--color-success);
    width: fit-content;
    margin-inline: auto;

    &::before {
        content: "\2714\FE0E";
        color: var(--color-success);
        margin-right: var(--spacing-2);
    }
}

.notification-error {
    padding: var(--spacing-4);
    border-radius: var(--spacing-2);
    border: 1px solid var(--color-error);
    background-color: var(--color-error-background);
    font-weight: 700;
    color: var(--color-error);
    width: fit-content;
    margin-inline: auto;

    &::before {
        content: "\2716\FE0E";
        color: var(--color-error);
        margin-right: var(--spacing-2);
    }
}

.notification-warning {
    padding: var(--spacing-4);
    border-radius: var(--spacing-2);
    border: 1px solid var(--color-warning);
    background-color: var(--color-warning-background);
    font-weight: 700;
    color: var(--color-warning);
    width: fit-content;
    margin-inline: auto;

    &::before {
        content: "\26A0\FE0E";
        color: var(--color-warning);
        margin-right: var(--spacing-2);
    }
}

.notification-info {
    padding: var(--spacing-4);
    border-radius: var(--spacing-2);
    border: 1px solid var(--color-info);
    background-color: var(--color-info-background);
    font-weight: 700;
    color: var(--color-info);
    width: fit-content;
    margin-inline: auto;

    &::before {
        content: "\2139\FE0E";
        color: var(--color-info);
        margin-right: var(--spacing-2);
    }
}

/** TOOLTIP **/

.tooltip {
    position: relative;
    display: inline-block;
    width: fit-content;

    .tooltip-trigger:hover~.tooltip-content,
    .tooltip-trigger:focus-visible~.tooltip-content {
        opacity: 1;
        visibility: visible;
        transition-delay: 0.3s;
    }

    .tooltip-content {
        position: absolute;
        bottom: calc(-100% - var(--spacing-4));
        left: 50%;
        transform: translate(-50%, 0);
        width: max-content;
        max-width: calc(100vw - 2 * var(--spacing-4));
        color: var(--color-foreground);
        background-color: var(--color-background);
        border-radius: var(--spacing-2);
        border: 1px solid var(--color-border);
        padding: var(--spacing-2);
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;

        &.top {
            bottom: auto;
            top: calc(-100% - var(--spacing-6));
        }
    }
}



/** MISCELLANEOUS **/

.page-container {
    max-width: var(--page-content-width);
    margin-inline: auto;
    width: 90%;
}

.text-highlight {
    background-color: var(--color-highlight);
    color: var(--color-foreground);
    padding: var(--spacing-1);
    border-radius: var(--spacing-1);
}

/* group a form input and label together */
.form-control {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
    margin-block: var(--spacing-2);
    width: 100%;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

/* group form actions together */
.actions-container {
    display: flex;
    gap: var(--spacing-2);
    margin-block: var(--spacing-6);
}