/* group a form input and label together */
.form-control {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
    margin-block: var(--spacing-2);
    width: min-content;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

/* group form actions together */
.actions-container {
    display: flex;
    gap: var(--spacing-2);
    margin-block: var(--spacing-6);
}