@layer reset, base, components, utilities, overrides;

@import "./reset.css" layer(reset);
@import "./base.css" layer(base);
@import "./components.css" layer(components);
@import "./utilities.css" layer(utilities);

:root {
        --color-foreground: oklch(13% 0.028 261.692);
        /* gray-950 */
        --color-foreground-hover: color-mix(in oklch,
                        var(--color-foreground) 80%,
                        white 20%);
        --color-foreground-inverted: oklch(1 0 0);
        --color-background: oklch(1 0 0);
        --color-outline-hover: color-mix(in oklch,
                        var(--color-background) 95%,
                        black 5%);
        --color-accent: oklch(51.8% 0.253 323.949);
        /* fuchsia-700 */
        --color-accent-hover: color-mix(in oklch,
                        var(--color-accent) 90%,
                        white 10%);
        --color-accent-outline: color-mix(in oklch,
                        var(--color-accent) 10%,
                        white 90%);
        --color-destructive: oklch(50.5% 0.213 27.518);
        --color-destructive-hover: color-mix(in oklch,
                        var(--color-destructive) 90%,
                        white 10%);
        --color-border: oklch(37.2% 0.044 257.287);
        --spacing-1: 0.25rem;
        --spacing-2: 0.5rem;
        --spacing-3: 0.75rem;
        --spacing-4: 1rem;
        --spacing-5: 1.25rem;
        --spacing-6: 1.5rem;
        --spacing-7: 1.75rem;
        --spacing-8: 2rem;
        --spacing-9: 2.25rem;
        --spacing-10: 2.5rem;
        --spacing-11: 2.75rem;
        --spacing-12: 3rem;
        --spacing-13: 3.25rem;
        --spacing-14: 3.5rem;
        --spacing-15: 3.75rem;
        --spacing-16: 4rem;
        --text-xs: 0.75rem;
        --text-sm: 0.875rem;
        --text-base: 1rem;
        --text-lg: 1.125rem;
        --text-xl: 1.25rem;
        --text-2xl: 1.5rem;
        --text-3xl: 2rem;
        --text-4xl: 3rem;
        --text-5xl: 4rem;
        --page-content-width: 90rem;
}

body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: var(--color-foreground);
        font-size: var(--text-base);
}